<div class="card border-primary mb-3">
  <div class="card-header text-primary"><h5>Detalle de compras</h5></div>
    <div class="card-body text-primary">
        <div class="table-responsive">
            <div class="alert alert-info" *ngIf="detalleCompras?.length === 0">
                No hay Registros que mostrar
            </div>
            <table class="table table-striped" *ngIf="detalleCompras?.length > 0" >
                <div></div>
                <thead>
                <tr>
                    <th scope="col">Ticket</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tarjeta</th>
                    <th scope="col">Compra</th>
                    <th scope="col">Fecha Entrega</th>
                    <th scope="col">Metodo Pago</th>
                    <th scope="col">Total pagado</th>
                    <th scope="col">Pelicula</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of detalleCompras">
                    <th scope="row">{{d.id}}</th>                    
                    <td>{{d.idUsuario.email}}</td>
                    <td>{{d.metodoPago}}</td>
                    <td>{{d.fechaCompra}}</td>
                    <td>{{d.fechaFinRenta}}</td>
                    <td>{{d.fechaFinRenta != null? 'Renta':'Compra'}}</td>
                    <td>${{ (d.montoMora != null ? d.montoMora : '' )
                        + (d.montoNormal != null ? d.montoNormal : '')
                        + (d.montoPelicula != null ? d.montoPelicula : '')
                        + (d.montoAdicionalEstreno != null ? d.montoAdicionalEstreno : '') }}</td>
                    <td>{{d.idPelicula.titulo}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
