/* You can add global styles to this file, and also import other style files */
/*------------------routerLinkActive--------------*/
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: white    ;
    font-weight: bold;
    font-size: 19px;
 }
 /*------------------routerLinkActive--------------*/

 /**********************footer**************/
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 5px;
}
.wrap{
    padding-bottom: 10px;
}
 /**********************footer**************/

 .preloader{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5) !important;
    height: auto;
  }
  /*******************************************************/